Solution/Framework/Service/MYCRONIC/WebService/Connected Services/ReelTowerWebServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="RoyoTech.StSys" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="RoyoTech.StSys" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="RoyoTech.StSys/Imports">
      <xsd:import schemaLocation="http://localhost:8585/RtTower.WebService/?xsd=xsd0" namespace="RoyoTech.StSys" />
      <xsd:import schemaLocation="http://localhost:8585/RtTower.WebService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSInterface_WebServiceIsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:WebServiceIsConnected" />
  </wsdl:message>
  <wsdl:message name="IWSInterface_WebServiceIsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebServiceIsConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IWSInterface_XmlAction_InputMessage">
    <wsdl:part name="parameters" element="tns:XmlAction" />
  </wsdl:message>
  <wsdl:message name="IWSInterface_XmlAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:XmlActionResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSInterface">
    <wsdl:operation name="WebServiceIsConnected">
      <wsdl:input wsaw:Action="RoyoTech.StSys/IWSInterface/WebServiceIsConnected" message="tns:IWSInterface_WebServiceIsConnected_InputMessage" />
      <wsdl:output wsaw:Action="RoyoTech.StSys/IWSInterface/WebServiceIsConnectedResponse" message="tns:IWSInterface_WebServiceIsConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XmlAction">
      <wsdl:input wsaw:Action="RoyoTech.StSys/IWSInterface/XmlAction" message="tns:IWSInterface_XmlAction_InputMessage" />
      <wsdl:output wsaw:Action="RoyoTech.StSys/IWSInterface/XmlActionResponse" message="tns:IWSInterface_XmlAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>